.col-sm a{
    text-decoration: none;
    font-size: large;
    font-weight: 300px;
    color:white;
    
    
    }
    
    .col-sm {
        background-color: #ff8080;
        text-align: center;
        padding: 25px;
        margin: 10px;
        width:100px ;
        display: inline;
    }