#c1 {
    position: relative;
    text-align: center;
    background-color: #ff8080;
    margin: 0px;
    padding: 20px;
}

#c2 {
    position: relative;
    text-align: center;
    background-color: antiquewhite;
    margin: 0px;
    padding: 20px;
}

#c3 {
    position: relative;
    text-align: center;
    background-color:#ff8080;
    margin: 0px;
    padding: 20px;
}
button{
    border-radius: 15px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    height: 30px;
}
footer {
    height: 150px;
    text-align: center;
    background-color: antiquewhite;
    color: black;
    padding: 20px;
}